@media only screen and(max-width: 1200px){
    
}
@media only screen and(max-width: 1024px){
    .space_proyccys{
        grid-template-columns: $grd3!important;
    }
    .container2{
        width: 95%!important;
    }
}
@media only screen and(max-width: 900px){
    .spc_info_studio{
        grid-template-columns: $grd1!important;
        .imggg_studio{
            height: 50vh!important;
        }
    }
    .servicc11{
        grid-template-columns: $grd1!important;
        .spc_img_servvcc{
            grid-row-start: -1 !important;
        }
    }
    .contennt_contacttt{
        padding: 20px 20px 60px 20px!important;
    }
    .spc_btmmm_formmm{
        margin-bottom: 4em;
    }
    .ventana_formmmm{
        position: relative!important;
        top: 0!important;
        left: 0!important;
        padding: 0!important;
        form{
            padding: 0!important;
        }
    }
    .btm_close_vntnt{
        display: none!important;
    }
    .dettt_photoo{
        grid-template-columns: repeat(1, 1fr)!important;
        grid-template-rows: 50vh 50vh;
        .prevv_photo{
            grid-row-start: 1!important;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .top_navigattt{
        padding: 30px!important;
    }
}
@media only screen and(max-width: 650px){
    .space_proyccys{
        grid-template-columns: $grd2!important;
    }
    .contennt_img_studio{
        padding-left: 5%!important;
        padding-right: 5%!important;
        padding-top: 30px!important;
        padding-bottom: 60px!important;
    }
    .heree{
        display: none;
    }
    .space_logo{
        margin: 0 1.5em;
    }
    footer{
        height: 80px;
        .spac_footerrr{
            flex-direction: column;
        }
    }
}
@media only screen and(max-width: 420px){
    .space_proyccys{
        grid-template-columns: $grd1!important;
    }
}