footer
    .container1
        .spac_footerrr
            .left_infff
                h4 © Iker Pardo
                span |
                a(href="legal.html") Legal
            .right_infff
                a(href="#")
                    .icnnn_fttr
                        i.fab.fa-facebook
                    span facebook
                a(href="#")
                    .icnnn_fttr
                        i.fab.fa-twitter
                    span twitter
                a(href="#")
                    .icnnn_fttr
                        i.fab.fa-flickr
                    span flickr
            
                a(href="#")
                    .icnnn_fttr
                        i.fab.fa-500px
                    span 500
                a(href="#")
                    .icnnn_fttr
                        i.fab.fa-500px
                    span 500

script(src="js/jquery.js")
script(src="js/jquery.zoom.min.js")
script(src="js/all.js")
script(src="js/main.js")