header
    .container1
        .line_header
            .cntrl_menu
                .btmm_menu
                    span
                    span
                    span
                .heree
                    a(href="/") Proyecos
            .space_logo
                a(href="page_1.html")
                    img(src="images/logo/logo2.png", alt="")
            .space_langg
                .bx_lnngg.active es
                span |
                .bx_lnngg ca
                span |
                .bx_lnngg en
                span |
                .bx_lnngg de
.grandf_cnrtrll
    .cntrl_menu_main
        .covrrr_info_main
        .menuuu
            .cntrtr_mnnuuu
                a(href="page_1.html") Proyectos
                a(href="estudio.html") Estudio
                a(href="servicios.html") Servicios
                a(href="contacto.html") Contacto