<!DOCTYPE html>
html(lang="en")
    include includes/_head


    include includes/_header

    .content_main
        .spc_info_studio
            .spc_mapaaa
                iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15811.631035730805!2d-72.2865837302246!3d7.799590050000005!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1543022856961', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

            .contennt_contacttt
                

                .line_info_top_conccct
                    h4 Lorem ipsum dolor sit amet consectetur
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aperiam amet reprehenderit dolore, minus illum, suscipit.


                .line_info_contacttt
                    h5 email:
                    P info@correo.com
                .line_info_contacttt
                    h5 telefono:
                    P 000 000 000
                .line_info_contacttt
                    h5 direccion:
                    P Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aper Lorem ipsum dolor sit amet consectetur.
                
                .spc_btmmm_formmm
                    .btm_formmmmm
                        .cover_linkkksss
                            span 
                                i.fas.fa-arrow-right
                            span entrar

                .ventana_formmmm
                    form
                        .btm_close_vntnt
                            i.fas.fa-times
                        .line_inptt
                            label Nombre
                            input(type="text", name="")
                        .line_inptt
                            label Email
                            input(type="text", name="")
                        .line_inptt
                            label Asunto
                            input(type="text", name="")
                        .line_inptt
                            label Mensaje
                            textarea(name="", cols="30", rows="10")
                        .sspppsss_legal
                            input(type="checkbox", name="")
                            label He leido y acepto las condiciones de la LOPD
                        .spc_buttt
                            button(type="submit") Enviar

              

    include includes/_footer