<!DOCTYPE html>
html(lang="en")
    include includes/_head


    include includes/_header

    .content_main
        .spc_info_studio
            .imggg_studio
                img(src="images/gallery/looking_the_lighthouse.jpg", alt="")
            .contennt_img_studio
                h4 Lorem ipsum dolor sit amet consectetur
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aperiam amet reprehenderit dolore, minus illum, suscipit, quod odio rem quas nam quis nemo dicta iste! Excepturi nihil autem rem ut recusandae reprehenderit, quasi quia id officia nemo placeat delectus natus itaque sed quibusdam dolore exercitationem iure? Perferendis ratione fugiat, distinctio eaque doloribus, tempore vel inventore repellat mollitia amet doloremque excepturi quod iste eveniet. Odit libero commodi accusamus odio recusandae, enim fugit totam molestias. Voluptatibus aperiam eveniet reprehenderit reiciendis repudiandae.
                
                h4 Lorem ipsum dolor sit amet consectetur
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aperiam amet reprehenderit dolore, minus illum, suscipit, quod odio rem quas nam quis nemo dicta iste! Excepturi nihil autem rem ut recusandae reprehenderit, quasi quia id officia nemo placeat delectus natus itaque sed quibusdam dolore exercitationem iure? Perferendis ratione fugiat, distinctio eaque doloribus, tempore vel inventore repellat mollitia amet doloremque excepturi quod iste eveniet. Odit libero commodi accusamus odio recusandae, enim fugit totam molestias. Voluptatibus aperiam eveniet reprehenderit reiciendis repudiandae.

    include includes/_footer