<!DOCTYPE html>
html(lang="en")
    include includes/_head
    body
        .spc_indxx
            .box_sliddrrr
                .imgg_sldrrr
                    img(src="images/gallery/con_los_pies_en_el_suelo.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/isladak.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/looking_the_lighthouse.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/marko_naturala.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/naturaren_handitasuna.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/pasado_por_agua.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/winter_abstraction.jpg", alt="")
                .imgg_sldrrr
                    img(src="images/gallery/zuhaitz_bakartia.jpg", alt="")
            
           
            
            .box_info_initt
                .cntrl_innnnfff_mn
                    .space_logo
                        img(src="images/logo/logo_blanco.png", alt="")
                    .spc_btmms_init
                        a(href="page_1.html") 
                            .cover_linkkksss
                                span 
                                    i.fas.fa-arrow-right
                                span entrar
                        a(href="contacto.html") 
                            .cover_linkkksss
                                span 
                                    i.fas.fa-arrow-right
                                span contactar
       
        script(src="js/jquery.js")
        script(src="js/all.js")
        script(src="js/main.js")