<!DOCTYPE html>
html(lang="en")
    include includes/_head


    include includes/_header

    .content_main.servicioss
        .container2
           .content_legggal
                h4 Aviso legal
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate inventore ipsam illo delectus modi quos eligendi incidunt ipsa harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam fugiat eligendi asperiores numquam expedita assumenda atque ad est, quaerat magni facilis ullam quasi natus consectetur quis sapiente minima ab voluptatem, ea et deleniti veniam, accusantium cupiditate? Dolor eius illo fugit molestias reiciendis iusto dolore obcaecati sapiente quae, doloremque quidem quam voluptatum cum, facere officia consequuntur explicabo voluptates! Est esse vero ad deleniti nesciunt atque cupiditate explicabo minus! Voluptas, aut!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate inventore ipsam illo delectus modi quos eligendi incidunt ipsa harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam fugiat eligendi asperiores numquam expedita assumenda atque ad est, quaerat magni facilis ullam quasi natus consectetur quis sapiente minima ab voluptatem, ea et deleniti veniam, accusantium cupiditate? Dolor eius illo fugit molestias reiciendis iusto dolore obcaecati sapiente quae, doloremque quidem quam voluptatum cum, facere officia consequuntur explicabo voluptates! Est esse vero ad deleniti nesciunt atque cupiditate explicabo minus! Voluptas, aut!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate inventore ipsam illo delectus modi quos eligendi incidunt ipsa harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam fugiat eligendi asperiores numquam expedita assumenda atque ad est, quaerat magni facilis ullam quasi natus consectetur quis sapiente minima ab voluptatem, ea et deleniti veniam, accusantium cupiditate? Dolor eius illo fugit molestias reiciendis iusto dolore obcaecati sapiente quae, doloremque quidem quam voluptatum cum, facere officia consequuntur explicabo voluptates! Est esse vero ad deleniti nesciunt atque cupiditate explicabo minus! Voluptas, aut!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate inventore ipsam illo delectus modi quos eligendi incidunt ipsa harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam fugiat eligendi asperiores numquam expedita assumenda atque ad est, quaerat magni facilis ullam quasi natus consectetur quis sapiente minima ab voluptatem, ea et deleniti veniam, accusantium cupiditate? Dolor eius illo fugit molestias reiciendis iusto dolore obcaecati sapiente quae, doloremque quidem quam voluptatum cum, facere officia consequuntur explicabo voluptates! Est esse vero ad deleniti nesciunt atque cupiditate explicabo minus! Voluptas, aut!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate inventore ipsam illo delectus modi quos eligendi incidunt ipsa harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam fugiat eligendi asperiores numquam expedita assumenda atque ad est, quaerat magni facilis ullam quasi natus consectetur quis sapiente minima ab voluptatem, ea et deleniti veniam, accusantium cupiditate? Dolor eius illo fugit molestias reiciendis iusto dolore obcaecati sapiente quae, doloremque quidem quam voluptatum cum, facere officia consequuntur explicabo voluptates! Est esse vero ad deleniti nesciunt atque cupiditate explicabo minus! Voluptas, aut!
                




    include includes/_footer