<!DOCTYPE html>
html(lang="en")
    include includes/_head


    include includes/_header
    
    .content_main
        .space_proyccys
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") con los pies en el suelo
                        .bg_cvrrrr
                img(src="images/gallery/con_los_pies_en_el_suelo.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") isladak
                        .bg_cvrrrr
                img(src="images/gallery/isladak.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") looking the lighthouse
                        .bg_cvrrrr
                img(src="images/gallery/looking_the_lighthouse.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") marko naturala
                        .bg_cvrrrr
                img(src="images/gallery/marko_naturala.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") naturaren handitasuna
                        .bg_cvrrrr
                img(src="images/gallery/naturaren_handitasuna.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") pasado por agua
                        .bg_cvrrrr
                img(src="images/gallery/pasado_por_agua.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") winter abstraction
                        .bg_cvrrrr
                img(src="images/gallery/winter_abstraction.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") zuhaitz bakartia
                        .bg_cvrrrr
                img(src="images/gallery/zuhaitz_bakartia.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") con los pies en el suelo
                        .bg_cvrrrr
                img(src="images/gallery/con_los_pies_en_el_suelo.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") isladak
                        .bg_cvrrrr
                img(src="images/gallery/isladak.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") looking the lighthouse
                        .bg_cvrrrr
                img(src="images/gallery/looking_the_lighthouse.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") marko naturala
                        .bg_cvrrrr
                img(src="images/gallery/marko_naturala.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") naturaren handitasuna
                        .bg_cvrrrr
                img(src="images/gallery/naturaren_handitasuna.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") pasado por agua
                        .bg_cvrrrr
                img(src="images/gallery/pasado_por_agua.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") winter abstraction
                        .bg_cvrrrr
                img(src="images/gallery/winter_abstraction.jpg", alt="")
            .bx_imgg_pryts
                .cover_imggg_phto
                    .cntrl_cvvrrr
                        a.nmmme_phtoooo(href="detalle.html") zuhaitz bakartia
                        .bg_cvrrrr
                img(src="images/gallery/zuhaitz_bakartia.jpg", alt="")
            

    include includes/_footer